.settingsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  text-align: center;
  background-color: #151019;
  background-size: cover;
}

.heading {
  font-size: 2rem;
  font-family: 'Inter', sans-serif;
  color: #ffffff;
}